<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

    <appSettings>
    
        <!--Draw paper-->
        <add key="PaperWidth" value="297.0"/>
        <add key="PaperHeight" value="420.0"/>
        <add key="PaperMargin" value="20.0"/>

        <!--SVG image size-->
        <add key="SVGWidth" value="200"/>
        <add key="SVGHeight" value="284"/>

        <!--Bezier Fitting-->
        <add key="FitScale" value="2.0"/>
        <add key="FitMaxError" value="0.5"/>

        <!--Arc limit-->
        <add key="ArcMinRadius" value="0.5"/>
        <add key="ArcMinAngle" value="1.0"/>
        <add key="ArcMinPtDis" value="0.2"/>

        <!--Fill line-->
        <add key="FLRowDis" value="0.2"/>
        <add key="FLLineShrinkSize" value="0.75"/>

        <!--Third Party Directory Path-->
        <add key="DIR_ThirdParty" value="ThirdParty"/>

    </appSettings>

</configuration>
